<%= form_with(model: @hitokoto, url: hitokotos_path, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @hitokoto.errors.any? %>
    <div id="error_explanation">
      <h2><%= @hitokoto.errors.count %>件のエラーがあります。</h2>
      
      <ul>
        <% @hitokoto.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="text_form">
<%= form.label :content %>
<%= form.text_field :content %><br>
<%= form.submit("今日も一言") %>
<% end %><br>
<%= link_to "一言一覧画面にもどる", hitokotos_path %>
</div>
 