<!--<%= form_with(model: @hitokoto, local: true) do |form| %>-->
<!--  <% if @hitokoto.errors.any? %>-->
<!--    <div id="error_explanation">-->
<!--      <h2><%= @hitokoto.errors.count %>件のエラーがあります。</h2>-->
<!--      <ul>-->

<!--    <% @hitokoto.errors.full_messages.each do |msg| %>-->
<!--        <li><%= msg %></li>-->
<!--      <% end %>-->
<!--      </ul>-->
<!--    </div>-->
<!--  <% end %>-->
  
<!--  <div class="hitokoto_title">-->
<!--    <%= form.label :content %>-->
<!--    <%= form.text_field :content %>-->
<!--  </div>-->
<!--  <%= form.submit %>-->
<!--<% end %>-->

 <!--<h2 class="text">一言を作成する</h2><br>-->
  <%= render 'form' %>